<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- TODO #1: Re-work form to account for types of Event obj fields; obj binding does not make sense here. Consider
       creating a form object for this. Then extract the datum for each field, convert to correct type and construct the
       event object with the resulting data. -->
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <nav th:replace="fragments :: nav"></nav>
      <br />
      <h1 th:text="${title}">You Forgot to Pass In a Title Dummy!</h1>
      <br />
      <!-- TODO: Rearrange form for better aesthetics -->
      <form th:object="${event}" action="" method="post">
        <div class="form-group">
          <label th:for="name">Name</label>
          <input th:field="*{name}" type="text" class="form-control" />
        </div>
        <span th:errors="*{name}" class="error"></span>
        <div class="form-group">
          <label th:for="description">Description</label>
          <textarea th:field="*{description}" class="form-control"></textarea>
        </div>
        <span th:errors="*{description}" class="error"></span>
        <div class="form-group">
          <label th:for="date">Date</label>
          <input th:field="*{date}" type="date" class="form-control"/>
        </div>
        <span th:errors="*{date}" class="error"></span>
        <div class="form-group">
          <label th:for="startTime">Start Time</label>
          <input th:field="*{startTime}" type="time" class="form-control"/>
        </div>
        <span th:errors="*{startTime}" class="error"></span>
        <div class="form-group">
          <label th:for="endTime">End Time</label>
          <input th:field="*{endTime}" type="time" class="form-control"/>
        </div>
        <span th:errors="*{endTime}" class="error"></span>
        <div class="form-group">
          <label th:for="location">Location</label>
          <input th:field="*{location}" type="text" class="form-control"/>
        </div>
        <span th:errors="*{location}" class="error"></span>
        <div class="form-group">
          <label th:for="activity">Activity</label>
          <!-- TODO: Switch location and activity to select tags w/ option to create new -->
          <input th:field="*{activity}" type="text" class="form-control"/>
        </div>
        <span th:errors="*{activity}" class="error"></span>
        <div class="form-group">
          <label th:for="minParticipants">Minimum Participants</label>
          <input type="number" class="form-control" name="minParticipants" id="minParticipants"/>
        </div>
        <span th:text="${minParticipantsError}" class="error"></span>
        <div class="form-group">
          <label th:for="maxParticipants">Maximum Participants</label>
          <input type="number" class="form-control" name="maxParticipants" id="maxParticipants"/>
        </div>
        <span th:text="${maxParticipantsError}" class="error"></span>
        <input type="submit" class="btn btn-info" value="Add Event" />
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div th:replace="fragments :: bs-scripts"></div>
</body>
</html>
