<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <nav th:replace="fragments :: nav"></nav>
        <br />
        <h1 th:text="${title} + ': ' + ${user.getUsername()}">You Forgot to Pass In a Title Dummy!</h1>
        <br />
        <table class="table table-hover table-striped" th:unless="${#lists.isEmpty(events)}">
          <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Activities</th>
          <th>Date</th>
          <th>Location</th>
          </thead>
          <tbody>
          <tr th:each="event : ${events}" >
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.activities}"></td>
            <td th:text="${event.date}"></td>
            <td th:text="${event.location}"></td>
            <td>
              <div class="btn btn-group">
                <a class="btn btn-info" th:href="@{/events/edit(eventId=${event.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/events/remove(eventId=${event.id})}">Delete</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <h3 th:if="${#lists.isEmpty(events)}">No events to display. Sad. Perhaps if you were more likable, people would
          invite you to things. You should really work on that...</h3>
        <br />
        <a th:href="@{/events/add}" class="btn btn-info">Add Event</a>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div th:replace="fragments :: bs-scripts"></div>
</body>
</html>

