<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <nav th:replace="fragments :: nav"></nav>
        <br />
        <h1 th:text="${user.getUsername()} + ': ' + ${title}">You Forgot to Pass In a Title Dummy!</h1>
        <br />
        <ul th:unless="${#lists.isEmpty(events)}" >
            <li th:each="event : ${events}" th:text="${event.name}"></li>
        </ul>
        <h3 th:if="${#lists.isEmpty(events)}">No events to display. Sad. Perhaps if you were more likable, people would
          invite you to things. You should really work on that...</h3>
        <br />
        <a th:href="@{events/add}" class="btn btn-info">Add Event</a>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div th:replace="fragments :: bs-scripts"></div>
</body>
</html>

