<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <nav th:replace="fragments :: nav"></nav>
      <br />
      <h1 th:text="${title}">You Forgot to Pass In a Title Dummy!</h1>
      <br />
      <!-- TODO: Rearrange form for better aesthetics -->
      <form th:object="${form}" action="" method="post">
        <div class="form-group">
          <label th:for="date">Date</label>
          <input th:field="*{date}" type="date" class="form-control" />
        </div>
        <span th:errors="*{date}" class="error"></span>
        <div class="form-group">
          <label th:for="startTime">Start Time</label>
          <input th:field="*{startTime}" type="time" class="form-control" />
        </div>
        <span th:errors="*{startTime}" class="error"></span>
        <div class="form-group">
          <label th:for="endTime">End Time</label>
          <input th:field="*{endTime}" type="time" class="form-control" />
        </div>
        <span th:errors="*{endTime}" class="error"></span>
        <div class="form-group">
          <label th:for="recurrencePattern">Repeat</label>
          <select th:field="*{recurrencePattern}" type="text" class="form-control">
            <option value="never">Never</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
        <span th:error="*recurrencePattern" class="error"></span>
        <div class="form-group">
          <label th:for="activities">Activities</label>
          <select th:field="*{activities}" type="text" class="form-control" multiple="true">
            <option th:each="activity : *{activities}" th:text="${activity.name}" th:value="${activity.activityId}">
              Activity Name
            </option>
          </select>
        </div>
        <span th:errors="*{activities}" class="error"></span>
        <div class="form-group">
          <label th:for="locations">Location</label>
          <select th:field="*{locations}" class="form-control">
            <option th:each="location : *{locations}" th:text="${location.name}" th:value="${location.locationId}">
              Location Name
            </option>
          </select>
        </div>
        <span th:errors="*{locations}" class="error"></span>
        <input type="submit" class="btn btn-info" value="Add Availability" />
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div th:replace="fragments :: bs-scripts"></div>
</body>
</html>


